@use '../../packages/assets/src/scss/functions/calculate.rem' as *;
@use '../../packages/assets/src/scss/variables/colors' as *;
@use '../../packages/assets/src/scss/variables/typography' as *;
@use '../../packages/assets/src/scss/body' as body;
@use '../../packages/assets/src/scss/code' as code;
@use '../../packages/assets/src/scss/headers' as headers;

$font-sizes-highlighted: (
    '6xl': $text-highlighted-font-size-6xl,
    '5xl': $text-highlighted-font-size-5xl,
    '4xl': $text-highlighted-font-size-4xl,
    '3xl': $text-highlighted-font-size-3xl,
    '2xl': $text-highlighted-font-size-2xl,
    'xl': $text-highlighted-font-size-xl,
    'l': $text-highlighted-font-size-l,
    'm': $text-highlighted-font-size-m,
    's': $text-highlighted-font-size-s,
);
$body-variants: (
    'regular' $text-font-weight-normal normal,
    'italic' $text-font-weight-normal italic,
    'semibold' $text-font-weight-semi normal,
    'semibold-italic' $text-font-weight-semi italic
);

.dev-typography-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calculateRem(32px);

    .ids-table,
    .ids-table .ids-table__header-cell,
    .ids-table .ids-table__cell {
        border: calculateRem(1px) solid $color-neutral-240;
    }

    .ids-table .ids-table__header-cell,
    .ids-table .ids-table__cell {
        padding: calculateRem(4px) calculateRem(16px);
    }

    .ids-table .ids-table__caption {
        @include headers.h2;

        caption-side: top;
    }

    .dev-h1 {
        @include headers.h1;
    }

    .dev-h2 {
        @include headers.h2;
    }

    .dev-h3 {
        @include headers.h3;
    }

    .dev-h4 {
        @include headers.h4;
    }

    .dev-h5 {
        @include headers.h5;
    }

    .dev-h6 {
        @include headers.h6;
    }

    @each $size-name, $size in $font-sizes-highlighted {
        .dev-highlighted-#{$size-name} {
            font-size: $size;
            font-weight: $text-font-weight-semi;
            font-style: normal;
            font-family: $font-family-alt;
            line-height: $heading-line-height;
        }
    }

    @each $variant, $weight, $style in $body-variants {
        .dev-body-xl-#{$variant} {
            @include body.body-xl($weight, $style);
        }

        .dev-body-l-#{$variant} {
            @include body.body-l($weight, $style);
        }

        .dev-body-m-#{$variant} {
            @include body.body-m($weight, $style);
        }

        .dev-body-s-#{$variant} {
            @include body.body-s($weight, $style);
        }

        .dev-body-xs-#{$variant} {
            @include body.body-xs($weight, $style);
        }
    }

    .dev-code-l {
        @include code.code-l;
    }

    .dev-code-m {
        @include code.code-m;
    }

    .dev-code-s {
        @include code.code-s;
    }
}
