@use '../../packages/assets/src/scss/functions/calculate.rem' as *;
@use '../../packages/assets/src/scss/variables/colors' as *;
@use '../../packages/assets/src/scss/variables/typography' as *;
@use '../../packages/assets/src/scss/headers' as headers;

$font-sizes-base: (
    '2xl': $text-font-size-2xl,
    'xl': $text-font-size-xl,
    'l': $text-font-size-l,
    'm': $text-font-size-m,
    's': $text-font-size-s,
    'xs': $text-font-size-xs,
);
$font-sizes-highlighted: (
    '6xl': $text-highlighted-font-size-6xl,
    '5xl': $text-highlighted-font-size-5xl,
    '4xl': $text-highlighted-font-size-4xl,
    '3xl': $text-highlighted-font-size-3xl,
    'xl': $text-highlighted-font-size-xl,
    'l': $text-highlighted-font-size-l,
    'm': $text-highlighted-font-size-m,
    's': $text-highlighted-font-size-s,
);
$font-sizes-links: (
    'l': $text-font-size-l,
    'm': $text-font-size-m,
    's': $text-font-size-s,
    'xs': $text-font-size-xs,
);
$font-weights: (
    'normal': $text-font-weight-normal,
    'semi': $text-font-weight-semi,
);
$font-styles: (
    'normal': normal,
    'italic': italic,
);

.dev-typography-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calculateRem(32px);

    .ids-table,
    .ids-table .ids-table__header-cell,
    .ids-table .ids-table__cell {
        border: calculateRem(1px) solid $color-neutral-240;
    }

    .ids-table .ids-table__header-cell,
    .ids-table .ids-table__cell {
        padding: calculateRem(4px) calculateRem(16px);
    }

    .ids-table .ids-table__caption {
        caption-side: top;
        font-size: $text-font-size-2xl;
        font-weight: $text-font-weight-semi;
    }

    @each $weight-name, $weight in $font-weights {
        @each $style-name, $style in $font-styles {
            @each $size-name, $size in $font-sizes-base {
                .base-#{$size-name}-#{$weight-name}-#{$style-name} {
                    font-size: $size;
                    font-weight: $weight;
                    font-style: $style;
                    font-family: $font-family;
                }
            }
        }
    }

    @each $size-name, $size in $font-sizes-highlighted {
        .highlighted-#{$size-name} {
            font-size: $size;
            font-weight: $text-font-weight-semi;
            font-style: normal;
            font-family: $font-family-alt;
            line-height: $heading-line-height;
        }
    }

    .dev-h1 {
        @include headers.h1;
    }

    .dev-h2 {
        @include headers.h2;
    }

    .dev-h3 {
        @include headers.h3;
    }

    .dev-h4 {
        @include headers.h4;
    }

    .dev-h5 {
        @include headers.h5;
    }

    .dev-h6 {
        @include headers.h6;
    }

    @each $weight-name, $weight in $font-weights {
        @each $size-name, $size in $font-sizes-links {
            .link-#{$size-name}-#{$weight-name} {
                font-size: $size;
                font-weight: $weight;
                font-family: $font-family-alt;
            }
        }
    }
}
