@use '../../packages/assets/src/scss/functions/calculate.rem' as *;
@use '../../packages/assets/src/scss/variables/colors' as *;
@use '../../packages/assets/src/scss/variables/typography' as *;

$font-sizes-base: (
    '2xl': $text-font-size-2xl,
    'xl': $text-font-size-xl,
    'l': $text-font-size-l,
    'm': $text-font-size-m,
    's': $text-font-size-s,
    'xs': $text-font-size-xs
);
$font-sizes-highlighted: (
    '3xl': $text-font-size-3xl,
    '2xl': $text-font-size-2xl,
    'xl': $text-font-size-xl,
    'l': $text-font-size-l,
    'm': $text-font-size-m,
    's': $text-font-size-s
);
$font-sizes-links: (
    'l': $text-font-size-l,
    'm': $text-font-size-m,
    's': $text-font-size-s,
    'xs': $text-font-size-xs
);
$font-weights: (
    'normal': $text-font-weight-normal,
    'semi': $text-font-weight-semi
);
$font-styles: (
    'normal': normal,
    'italic': italic
);

.dev-typography-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calculateRem(32px);

    .ids-table,
    .ids-table .ids-table__header-cell,
    .ids-table .ids-table__cell {
        border: calculateRem(1px) solid $color-neutral-240;
    }

    .ids-table .ids-table__header-cell,
    .ids-table .ids-table__cell {
        padding: calculateRem(4px) calculateRem(16px);
    }

    .ids-table .ids-table__caption {
        caption-side: top;
        font-size: $text-font-size-2xl;
        font-weight: $text-font-weight-semi;
    }

    @each $weight-name, $weight in $font-weights {
        @each $style-name, $style in $font-styles {
            @each $size-name, $size in $font-sizes-base {
                .base-#{$size-name}-#{$weight-name}-#{$style-name} {
                    font-size: $size;
                    font-weight: $weight;
                    font-style: $style;
                    font-family: $font-family;
                }
            }
        }
    }

    @each $weight-name, $weight in $font-weights {
        @each $size-name, $size in $font-sizes-highlighted {
            .base-#{$size-name}-#{$weight-name}-normal {
                font-size: $size;
                font-weight: $weight;
                font-style: normal;
                font-family: $font-family-alt;
            }
        }
    }

    @each $weight-name, $weight in $font-weights {
        @each $size-name, $size in $font-sizes-links {
            .link-#{$size-name}-#{$weight-name} {
                font-size: $size;
                font-weight: $weight;
                font-family: $font-family-alt;
            }
        }
    }
}
