@use 'sass:list';
@use 'functions' as *;
@use 'variables' as *;

$helper-text-types:
    'default' $color-neutral-160,
    'error' $color-error-80;

.ids-helper-text {
    $self: &;

    font-size: $text-font-size-m;
    color: #{list.nth($helper-text-types, 1)};
    display: flex;
    align-items: center;

    &__icon-wrapper {
        padding-right: calculateRem(4px);
        display: flex;
        align-items: center;
    }

    @each $name, $color in $helper-text-types {
        &--#{$name} {
            color: $color;

            #{$self}__icon {
                fill: $color;
            }
        }
    }
}
